
<head>

</head>
<div class="card">
    <div class="card-body ms-4 mt-4 mb-4">
        <h4 style=" font-weight: 600;color: #012C50;opacity: 1;" class="card-title">Statistique de la journée</h4>

            <canvas id="myChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Label 1', 'Label 2', 'Label 3', 'Label 4', 'Label 5'],
                    datasets: [{
                        label: 'Data',
                        data: [10, 20, 30, 40, 50],
                        backgroundColor: 'rgba(0, 95, 174, 0.5)',
                        borderColor: 'rgba(0, 95, 174, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>


</div>
